body {

    /** Body Font type **/
    font-family: "sutro";
    src: url("https://use.typekit.net/af/965222/00000000000000003b9ad924/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"), url("https://use.typekit.net/af/965222/00000000000000003b9ad924/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"), url("https://use.typekit.net/af/965222/00000000000000003b9ad924/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
    font-style: italic;
    font-weight: 300;

    /** Body Background **/
    background-image: url("../img/woodBoardBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.app_title {
    grid-area: header;
    width: 50%;
    height: auto;
    align-items: center;
    align-self: auto;
    padding-top: 68px;
    margin-bottom: 50px;
}

#notes_form {
    background-image: url(../img/FormBG.png);
    background-image: url(../img/FormBG.png);
    /* background-position: inherit; */
    background-size: 99%;
    background-repeat: no-repeat;
    height: fit-content;
}